* {font-family: Verdana;}
header{background-color: #AFAFAF;
color: #FF5F00;
text-align: center;}
nav{
    padding-bottom: 50px;
    padding-top: 50px;
}
#Table-header{
    background-color: #76B900;
    color: white;}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr:hover{
    background-color:#edf5df;
}
table{
    box-shadow: 10px 10px #7d7d7d;
    margin-left: auto;
    margin-right: auto;
}
a{
    border: 2px solid grey;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    background-color: #0082D1;
}
a:hover{
    color: #FF5F00;
    background-color: #AFAFAF;
}
#Teilnahmeliste{
    padding-bottom: 10px;
}
footer{
    background-color: #FF5F00;
    text-align: center;
}
h1{
    text-align: left;
    padding-left: 29%;
}